@model List<Blog.Data.Models.Category>
@{
    Layout = "_LayoutManage";
}
<div class="row">
    <div class="col-12">
        <input type="hidden" id="Id" value="@ViewBag.BlogId"/>
        <select id="CategoryId">
            <option disabled="disabled">Bir seçim yap evlat!</option>
            @{
                foreach (var category in Model)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <input type="text" placeholder="Başlık" id="Title" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <textarea placeholder="İçerik..." id="Content"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <input type="button" value="Kaydet" onclick="Page.Manage.ManageBlog.Save();" />
    </div>
</div>